apscheduler
bing-image-urls
gTTS
tgcrypto
aiohttp
pyjokes
googlesearch-python
httpx[http2]
pyfiglet
lexica-api
requests
urllib3
beautifulsoup4==4.12.3
motor==3.6.0
pyrogram==2.0.106
SafoneAPI
uuid
gpytranslate
